<article class="narrative">
  <h1 class="narrative__title">Fun with Dick & Jane</h1>
  <p class="narrative__plot">After losing their high-paying corporate jobs, an upwardly mobile couple turns to robbing
    banks to maintain their standard of living.</p>
  <section class="narrative__director">
    <h2>Director</h2>
    <span>John Doe</span>
  </section>
  <section class="narrative__release-year">
    <h2>Released</h2>
    <span>1997</span>
  </section>
  <section class="narrative__countries">
    <div class="narrative__country"><img src="https://flagcdn.com/64x48/us.png"></div>
  </section>
  <section class="narrative__cast-list">
    <h2 class="narrative__cast-title">Cast</h2>
    <div class="narrative__cast">Jim Carrey</div>
    <div class="narrative__cast">Téa Leoni</div>
    <div class="narrative__cast">Alec Baldwin</div>
    <div class="narrative__cast">Richard Jenkins</div>
    <div class="narrative__cast">Angie Harmon</div>
    <div class="narrative__cast">John Michael Higgins</div>
    <div class="narrative__cast">Richard Burgi</div>
    <div class="narrative__cast">Carlos Jacott</div>
    <div class="narrative__cast">Aaron Michael Drozin</div>
    <div class="narrative__cast">Gloria Garayua</div>
  </section>
  <footer class="narrative__labels">
    <div class="narrative__label">Comedies</div>
  </footer>
</article>
