<article class="narrative">
  <h1 class="narrative__title">{{narrative?.title}}</h1>
  <p class="narrative__plot">{{narrative?.plot}}</p>
  <section class="narrative__director">
    <h2>Director</h2>
    <span>{{narrative?.director}}</span>
  </section>
  <section class="narrative__release-year">
    <h2>Released</h2>
    <span>{{narrative?.released}}</span>
  </section>
  <narrative-countries class="narrative__countries" [countries]="narrative?.countries || []"></narrative-countries>
  <narrative-actors class="narrative__cast-list" [actors]="narrative?.cast  || []"></narrative-actors>
  <footer class="narrative__labels">
    <div class="narrative__label" *ngFor="let label of narrative?.labels">{{label}}</div>
  </footer>
</article>
