.search-result__item {
  box-shadow: darkgrey 2px 2px;
  padding: 3px;

  &:hover {
    background-color: darkgrey;
    color: #333333;
    cursor: pointer;
  }

  &--selected {
    color: #333333;
    background-color: lightgray;
  }
}


