<section class="narrative__cast-list">
  <h2 class="narrative__cast-title">Cast</h2>
  <div class="narrative__cast">Jim Carrey</div>
  <div class="narrative__cast">Téa Leoni</div>
  <div class="narrative__cast">Alec Baldwin</div>
  <div class="narrative__cast">Richard Jenkins</div>
  <div class="narrative__cast">Angie Harmon</div>
  <div class="narrative__cast">John Michael Higgins</div>
  <div class="narrative__cast">Richard Burgi</div>
  <div class="narrative__cast">Carlos Jacott</div>
  <div class="narrative__cast">Aaron Michael Drozin</div>
  <div class="narrative__cast">Gloria Garayua</div>
</section>
